<?xml version="1.0"?>
<phpunit
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.5/phpunit.xsd"
	bootstrap="tests/bootstrap.php"
	colors="true"
	beStrictAboutTestsThatDoNotTestAnything="true">
	<testsuites>
		<testsuite name="fix-image-rotation">
			<directory suffix=".php">./tests/</directory>
			<exclude>./tests/test-images</exclude>
			<exclude>./tests/bootstrap.php</exclude>
		</testsuite>
	</testsuites>
</phpunit>
